body
{
    background-color: blue;
    
}

#game
{
    display: table;
    justify-content: center;
    width: 95%;
    margin: auto;
    
}


#play
{
    font-size: 54px;
    color: yellow;
    background-color: blue;
    border: 5px solid navy;
    font-weight: bold;
    padding: 20px;
    font-family: 'Roboto Slab', serif;
}

#intro
{
    color: white;
    border: 5px solid navy;
    padding: 10px;
}

#introPic
{
    border: 5px solid navy;
    margin-bottom: 20px;
}

#gameMenu
{
    display: inline-block;
    text-align: center;
    background-color: blue;
    margin: 25px 200px 25px 225px;
    font-family: 'Roboto Slab', serif;

}

h6
{
    font-size: 64px;
    color: yellow;
    background-color: blue;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    border: 5px solid navy;
    text-align: center;
}

h1
{
    text-align: center;
    border: 5px solid navy;
    padding: 10px;
    color: yellow;
    font-weight: bolder;
    font-size: 64px;
    font-family: 'Roboto Slab', serif;
}

#triviaButton
{
    font-size: 64px;
    border: 5px solid navy;
    text-align: center;
    color: white;
    background-color: blue;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    height: 85%;
    
}

#chosenQuote
{
    text-align: center;
    font-size: 38px;
    margin: 30px 84px 30px 84px;
    color: white;
    border: 5px solid navy;
    font-family: 'Roboto Slab', serif;
    background-color: navy;
}

.answerButton
{
    text-align: center;
    font-size: 38px;
    margin: 10px 84px 10px 100px;
    width: 85%;
    color: yellow;
    background-color: navy;
    border: 5px solid navy;
    font-family: 'Roboto Slab', serif;
}

#questionBox
{
    margin: auto;
}



